.text-center {
  text-align: center;
}

.site-author-image {
  background: #4d1f47;
  border: 1px solid black;
}

.site-brand-container {
  background-image: url('https://img1.baidu.com/it/u=273671210,3516395302&fm=253&fmt=auto&app=138&f=JPEG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.site-meta {
  visibility: hidden;
}